.recent-activities {
	margin-top: 30px;
	padding: 15px;
	display: flex;
	position: relative;
	max-height: 470px;
	border: 1px solid #c7c7c7;
}

.recent-activities:before {
	content: "recent activities";
	position: absolute;
	top: -10px;
	left: calc(50% - 90px);
	font-size: 20px;
	text-transform: uppercase;
	background: #f4f7f6;
}