.notifications {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 0 15px;
    height: auto;
}

.notification-enter {
	transform: translate(-100%);
}
.notification-enter.notification-enter-active {
	transform: translate(0);
	transition: all 500ms ease-in;
}
.notification-leave {
	transform: translate(0);
	opacity: 1;
}
.notification-leave.notification-leave-active {
	transform: translate(-100%);
	transition: all 500ms ease-in;
}